@model CheeseMVC.ViewModels.AddMenuItemViewModel

@{ 
    ViewBag.Title = "Add Item to Menu: " + Model.Menu;
}

<form asp-controller ="Menu" asp-action="AddItem" method="post">

    <div class="form-group">
        <label asp-for="Cheeses"></label>
        <select class="form-control" asp-for="CheeseID" asp-items="Model.Cheeses"></select>
        
    </div>
    
    <input type="hidden" name="MenuID" value="@Model.MenuID" />
    <input type="submit" value="Add Item"/>


</form>
